.back .dropdown-menu {
  background-color: #1f1f1f; /* sfondo scuro */
  border: none;
  color: white;
}

.back .dropdown-item {
  color: white;
}

.back .dropdown-item:hover {
  background-color: rgb(69, 12, 91);
}

.navc {
  background-color: #9448bd;
  color: white;

  background: linear-gradient(to bottom, #212021, #42124e);

  box-shadow: 0 4px 10px rgba(134, 16, 167, 0.4),
    inset 0 2px 6px rgba(143, 14, 145, 0.2);

  border-bottom: 1px solid rgba(221, 0, 255, 0.3);

  padding-top: 12px;
  padding-bottom: 12px;
}
